{% extends 'base.html' %}
{% block content %}

<h1>Trick Details</h1>

<div class="row">
  <div class="col s6 col-offset-3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ trick.name }}</span>
        <p>Difficulty: {{ trick.get_difficulty_display }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'tricks_update' trick.id %}">Edit</a>
        <a href="{% url 'tricks_delete' trick.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}